<!-- <app-l-input
 [title]="appTitle" 
 (GateOne)="appHandleClick($event)">
</app-l-input> -->

<!-- <app-l-input *ngFor="let book of books , let i =index"
[title] = "book">
</app-l-input> -->

<!-- //baithuchanh1 -->
<!-- <app-name-card cardName="Professional Dev" email="truong2k3@codegym.vn" phone="0343689757"></app-name-card> -->
<!-- thuchanh2 -->
<!-- <app-progress-bar progress="0"></app-progress-bar> -->

<!-- baitap1 -->
<!-- <app-rating-bar></app-rating-bar> -->


<app-countdown-timer></app-countdown-timer>